
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .pagination a {
        margin: 0 5px;
        padding: 8px 12px;
        border-radius: 5px;
        background-color: #FDC500;
        color: white;
        text-decoration: none;
    }
    .pagination a:hover {
        background-color: #FFD500;
    }
